<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Info: <%= user.username %> </h2>
    <p>Password: <%= user.password %></p>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <textarea name="email"><%= user.email %></textarea>
        <br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <button>Edit</button>
    </form>
</body>
</html>
